<template>
    <div class="bauble-editor">
      <button @click="setMode('add-bauble')">Add/Replace Baubles</button>
      <button @click="setMode('remove-bauble')">Delete Baubles</button>
      <p>Type:</p>
      <div class="switcher">
        <button @click="prevType()">&#8701;</button>
        <p>{{$store.getters.currentBaubleType.name}}</p>
        <button @click="nextType()">&#8702;</button>
      </div>
    </div>
</template>
<script>

export default {
  methods: {
    prevType: function (index) {
      this.$store.dispatch('rotateBaubleType', 1)
    },
    nextType: function (index) {
      this.$store.dispatch('rotateBaubleType', -1)
    },
    setMode: function (mode) {
      this.$store.commit('setMode', mode)
    }
  },
  computed: {

    mode: function () {
      return this.$store.state.decorator.mode
    },
    show: function () {
      return this.mode === 'bauble'
    }
  }
}
</script>

<style>
  .bauble-editor{
    min-width: 180px;
    min-height: 90px;
  }

</style>
