<template>
  <div :class='[ "ui", hide?"ui__hide":"" ]'>
      <h1>Christmas Tree Editor</h1>
      <panel :label="'Main Controls'">
        <treeeditor :toggleGuides="toggleGuides" :guideText="guideText"  />
      </panel><br>
      <panel :label="'Tinsel/Lights'">
      <tinseleditor />
      </panel><br>
      <panel :label="'Baubles'">
      <baubleeditor/>
      </panel><br>
      <panel :label="'Star'">
      <stareditor />
      </panel><br>
  </div>
</template>
<script>
import tinseleditor from './tinseleditor.vue'
import baubleeditor from './baubleeditor.vue'
import stareditor from './stareditor.vue'
import treeeditor from './treeeditor.vue'
import panel from './panel.vue'

export default {
  components: {
    tinseleditor, baubleeditor, stareditor, treeeditor, panel
  },
  props: [
    'toggleGuides',
    'guideText'
  ],
  data: function () {
    return {
      hide: false
    }
  },
  methods: {
    toggleControls: function (mode) {
      this.hide = !this.hide
    }
  },
  computed: {
    baubleName: function () {
      return this.$store.getters.currentBaubleType.name
    },
    tinselName: function () {
      return this.$store.getters.currentTinselType.name
    }
  }
}
</script>

<style>

.ui{
  color: #fff;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  text-align: left;
  user-select: none;
}

.ui button{
  pointer-events: initial;
}

.ui h1{
  font-size: 32px;
  margin: 10px 5px;
}

.ui>div{
  display: inline-block;
}

.ui__right{
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
}

.ui__panel{
  background-color: #eee;
  margin: 10px 0;
  color: #000;
  text-align: center;
  padding: 5px;
  position: relative;
  transform: translateX( 0%);
    transition: transform 0.2s;

}

button{
  display: block;
}

.ui__panel>div>*{
  margin: 4px auto;
}

.ui__panel--hidden{
  transform: translateX( -100%);
}

.panel__open{
  position: absolute;
  height: 100%;
  line-height: 30px;
  right: -30px;
  top: 0;
  background: #fff;
  transform-origin: 0% 100%;
  text-align: center;
  /*transform: translateX(100%) rotateZ(90deg);*/
  writing-mode: vertical-lr;

  border-radius: 0px 5px 5px 0px;
  pointer-events: initial;
}

.panel__open>span{
  padding: 6px;
  text-transform: uppercase;
  pointer-events: none;
}

.ui__panel--tinsel{
  width: 215px;
}

.ui__panel--bauble{
  width: 165px;
}
.ui__panel--tree{
  width: 160px;
}
.ui__panel--star{
  width: 114px;
}

.ui__panel--controls{
  width: 100px;
}

.switcher{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher>*{
  flex: none;
}

.inactive{
  pointer-events: none;
  opacity: 0.6;
}

.inactive button{
  pointer-events: none;
}

@media only screen and (max-width: 600px) {
  .ui h1{
    font-size: 25px;
  }

  .ui button{
    display: inline-block;
  }

  .ui__panel{
    margin: 3px 0;
    max-width: calc(100% - 50px);
  }

  .ui__panel>div>*{
    margin: 2px auto;
  }

}

</style>
