<template>
  <div :class='["ui__panel",  "ui__panel--scene", visible?"":"ui__panel--hidden"]'>
    <slot></slot>
    <div class="panel__open" @click="toggle"><span>{{label}}</span></div>
  </div>
</template>

<script>
export default {
  props: ['label'],
  data: function () {
    return {
      visible: false
    }
  },
  methods: {
    toggle: function () {
      this.visible = !this.visible
    }
  },
  mounted: function () {
    if (window.innerWidth > 600) {
      this.visible = true
    }
  }

}
</script>
