<template>
  <div>
      <button v-show="editClass!=='inactive'" @click="toggleStar()">Remove star</button>
      <button v-show="editClass==='inactive'" @click="toggleStar()">Add star</button>
    <div class="switcher" :class="editClass">
      <button @click="removeStarPoint()">&#8701;</button>
      Points: {{$store.state.decorations.star.points}}
      <button @click="addStarPoint()">&#8702;</button>
    </div>
    <div class="switcher" :class="editClass"><p></p>
      <button @click="decOuterRadius()">&#8701;</button>
      Outer Radius: {{$store.state.decorations.star.outer.toFixed(2)}}
      <button @click="incOuterRadius()">&#8702;</button>
    </div>
    <div class="switcher" :class="editClass"><p></p>
      <button @click="decInnerRadius()">&#8701;</button>
      Inner Radius: {{$store.state.decorations.star.inner.toFixed(2)}}
      <button @click="incInnerRadius()">&#8702;</button>
    </div>
  </div>
</template>
<script>

export default {
  methods: {
    toggleStar: function () {
      this.$store.commit('toggleStar')
    },
    addStarPoint: function () {
      this.$store.commit('changeStarPoints', 1)
    },
    removeStarPoint: function () {
      this.$store.commit('changeStarPoints', -1)
    },
    incOuterRadius: function () {
      this.$store.commit('changeStarOuterRadius', 0.01)
    },
    decOuterRadius: function () {
      this.$store.commit('changeStarOuterRadius', -0.01)
    },
    incInnerRadius: function () {
      this.$store.commit('changeStarInnerRadius', 0.01)
    },
    decInnerRadius: function () {
      this.$store.commit('changeStarInnerRadius', -0.01)
    }
  },
  computed: {
    editClass: function () {
      return this.$store.state.decorations.star.exists ? '' : 'inactive'
    }
  }
}
</script>
