<template>
    <div class="tinsel-editor">
      <button @click="newTinsel()">Create new Tinsel/Lights</button>
      <button :class="selectClass" @click="selectMode()">Select Tinsel/Lights</button>
      <div :class='["switcher",editClass]' >
        <button @click="prevType()">&#8701;</button>
        Type: {{$store.getters.currentTinselType.name}}
        <button @click="nextType()">&#8702;</button>
      </div>
      <div :class='["switcher",editClass]'>
        <button @click="depthPlus()">-</button>
        Depth: {{currentTinsel.depth.toFixed(2)}}
        <button @click="depthMinus()">+</button>
      </div>
      <button :class="editClass" @click="reverseTinsel()">Add from other end</button>
      <button :class="editClass" @click="removeLastTinselPiece()">&#8701; Backspace</button>
      <button :class="editClass" @click="remove()">X Delete Selected</button>
    </div>
</template>
<script>

export default {
  methods: {
    remove: function (mode) {
      this.$store.dispatch('removeSelectedTinsel')
    },
    prevType: function (index) {
      this.$store.dispatch('rotateTinselType', 1)
    },
    nextType: function (index) {
      this.$store.dispatch('rotateTinselType', -1)
    },
    depthPlus: function () {
      this.$store.dispatch('changeTinselDepth', -0.03)
    },
    depthMinus: function () {
      this.$store.dispatch('changeTinselDepth', 0.03)
    },
    reverseTinsel: function () {
      this.$store.dispatch('reverseTinsel')
    },
    removeLastTinselPiece: function () {
      this.$store.dispatch('removeLastTinselPiece')
    },
    selectMode: function () {
      this.$store.commit('setMode', 'select-tinsel')
    },
    newTinsel: function () {
      this.$store.dispatch('newTinsel')
    }
  },
  computed: {
    currentTinsel: function () {
      return this.$store.getters.currentTinselPiece
    },
    mode: function () {
      return this.$store.state.decorator.mode
    },
    show: function () {
      return this.mode === 'tinsel'
    },
    editClass: function () {
      return this.$store.getters.tinselIndexToHighlight === false ? 'inactive' : ''
    },
    selectClass: function () {
      return this.$store.state.decorations.tinsels[0].branchIndices.length > 0 ? '' : 'inactive'
    }
  }
}
</script>

<style>

.tinsel-editor{
  min-width: 230px;
  min-height: 140px;
}

</style>
