<template>
  <div>
    <div @mousedown="cast" @touchstart="touchcast" @mousemove="hover" id="container">
      <canvas id="c"></canvas>
    </div>
    <controls  :toggleGuides="toggleGuides" :guideText="guideText" />
  </div>
</template>
<script>
import { TreeScene } from '../modules/treeScene.js'
import { onlyInFirstArray } from '../modules/utils.js'
import controls from './controls.vue'

export default {
  components: { controls },
  data: function () {
    return {
      guidesVisible: true,
      guideText: 'Hide Guides'
    }
  },
  methods: {
    touchcast (event) {
      this.cast(event.touches[0])
    },
    cast (event) {
      switch (this.$store.state.decorator.mode) {
        case 'select-tinsel':
          this.scene.selectTinsel(event)
          break
        case 'remove-bauble':
          this.scene.clickRemoveBauble(event)
          break
        default:
          this.scene.castToTree(event)
      }
    },
    hover (event) {
      switch (this.$store.state.decorator.mode) {
        case 'select-tinsel':
          break
        default:
          this.scene.hover(event)
      }
    },
    toggleGuides () {
      this.guidesVisible = !this.guidesVisible
      this.guideText = this.guidesVisible ? 'Hide Guides' : 'Show Guides'
      this.scene.showGuides(this.guidesVisible)
    }
  },
  mounted () {
    this.scene = new TreeScene(this.$store, document.getElementById('container'))
    this.scene.setUpTree(this.branches, this.$store.state.tree.height)
    this.scene.animate()
  },
  computed: {
    baubles: function () {
      return this.$store.getters.baubleSetsWithIds
    },
    tinsels: function () {
      return this.$store.getters.groupedTinselCurvesWithIds
    },
    highlightTinsel: function () {
      return this.$store.getters.tinselIndexToHighlight
    },
    branches: function () {
      return this.$store.getters.branches
    },
    star: function () {
      return this.$store.getters.starId
    }
  },
  watch: {
    star: function (star) {
      this.scene.updateStar()
      this.scene.animate()
    },
    branches: function (branches) {
      this.scene.setUpTree(branches, this.$store.state.tree.height)
      this.scene.animate()
    },
    tinsels: function (newTinsels, oldTinsels) {
      const tinselsToAdd = onlyInFirstArray(newTinsels, oldTinsels, 'id')
      const tinselsToRemove = onlyInFirstArray(oldTinsels, newTinsels, 'id')

      tinselsToAdd.forEach(tinsel => {
        this.scene.createTinsel(tinsel)
      })

      tinselsToRemove.forEach(tinsel => {
        this.scene.removeTinsel(tinsel.id)
        this.scene.removeHiglights(tinsel.ids)
      })

      this.scene.animate()
    },
    baubles: function (newBaubles, oldBaubles) {
      onlyInFirstArray(newBaubles, oldBaubles, 'id').forEach(bauble => {
        this.scene.createBauble(bauble.typeIndex, bauble.branchIndices, bauble.id)
      })
      onlyInFirstArray(oldBaubles, newBaubles, 'id').forEach(bauble => {
        this.scene.removeBauble(bauble.id)
      })
      this.scene.animate()
    },
    highlightTinsel: function (newIndex) {
      if (newIndex !== false && this.$store.getters.tinselCurvesWithIds[newIndex]) {
        this.scene.highlightTinsel(this.$store.getters.tinselCurvesWithIds[newIndex].id)
      } else {
        this.scene.highlightTinsel()
      }
    }
  }
}
</script>

<style>
  #container{
    width: 100vw;
    height: 100vh;
  }
  #c {
    width: 100%;
    height: 100%;
    display: block;
  }
</style>
