<template>
  <div class="tree-editor">
    <div class="switcher">
      <button @click="heightDown()">-</button>
      Height {{$store.state.tree.height.toFixed(1)}}m
      <button @click="heightUp()">+</button>
    </div>
    <button :class="{ 'inactive': $store.getters.treeIsClear}" @click="clearTree()">Clear Tree</button>
    <button :class="{ 'inactive': $store.getters.noUndos}" @click="undo()">Undo</button>
    <button :class="{ 'inactive': $store.getters.noRedos}" @click="redo()">Redo</button>
    <button  class="guide-button" @click="toggleGuides">{{guideText}}</button>
  </div>
</template>

<script>
export default {
  props: [
    'toggleGuides',
    'guideText'
  ],
  methods: {
    clearTree: function () {
      this.$store.dispatch('resetDecorations')
    },
    undo: function () {
      this.$store.dispatch('undo')
    },
    redo: function () {
      this.$store.dispatch('redo')
    },
    heightUp: function (mode) {
      this.$store.commit('setHeight', 0.1)
    },
    heightDown: function (index) {
      this.$store.commit('setHeight', -0.1)
    }
  }
}
</script>

<style>
  .tree-editor{
    min-width: 160px;
    min-height: 150px;
  }

  .guide-button{
    padding: 1px 2px;
    width: 87px;
  }

</style>
